$primary-text-color: #757575;
$title-text-color: #212121;
$white-text-color: #fff;
$accent-color: #2196f3;
$secondary-accent-color: #188ce8;
$white-bg-color: #fff;
$primary-bg-color: #f5f4fa;
$secondary-bg-color: #2f303a;
