body {
	@media screen and (max-width: 767px) {
		padding-top: 60px;
	}

	@media screen and (min-width: 768px) {
		padding-top: 80px;
	}

	font-family: Roboto, sans-serif;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: $primary-text-color;
	background-color: $white-bg-color;
}

h1,
h2,
h3,
ul,
p {
	margin: 0;
}

ul {
	padding: 0;
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

textarea {
	resize: none;
}
