.footer {
	padding: 60px 0;
	background-color: $secondary-bg-color;
}

.footer__container {
	display: flex;
	align-items: baseline;
}

/* address */
.address {
	margin-top: 20px;
	font-style: normal;
}

.address__item:not(:last-child) {
	margin-bottom: 9px;
}

.address__link {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--white {
	color: #fff;

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

.address__link--grey {
	color: rgba(255, 255, 255, 0.6);

	&:hover,
	&:focus {
		color: $accent-color;
	}
}

/* Join */
.join {
	margin-left: 70px;
}

.join__text {
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: #fff;
}

/* subscribe */
.subscribe {
	margin-left: auto;
}

.subscribe__label {
	display: block;
	margin-bottom: 20px;
	font-weight: 700;
	line-height: 1.14;
	text-transform: uppercase;
	color: #fff;
}

.subscribe__box {
	display: flex;
}

.subscribe__input {
	width: 358px;
	height: 50px;
	margin-right: 12px;
	padding: 15px 16px;
	color: rgba(255, 255, 255, 0.6);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	background-color: unset;

	&::placeholder {
		font-size: 16px;
		line-height: 1.25;
		color: rgba(255, 255, 255, 0.6);
	}
}
